section {
    background-color: #f9f9f9;
    padding: 20px;
}
  
.cartas ul{
    list-style: none;
    display: flex;
}

.cartas li {
    margin-right: 5px;
    border-radius: 10px;
    background-color: #fff;
    width: calc(33.33% - 20px);
    border-radius: 5px;
}


#imagen img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#titulo {
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
}

#text {
  text-align: justify;
  padding: 0px 20px;
  margin-bottom: 10px;
}

#boton {
  display: flex;
  justify-content: center;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}
