body{
    background-color: gray;

}
.cartas ul{
    display: flex;    
    list-style: none;
}
.cartas li{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 5% 5% 5% 1%;
    background-color: white;
}
#titulo{
    padding: 10%;
}
#text{
    padding: 10%;
}
#textoT{

    padding: 20% 15%;
}
#boton{
    display: flex;
    justify-content: center;
    padding: 10%;
}
#boton button{
    border-radius: 10px;
    border-style: none;
    background-color: orange;
    width: 100%;
}
#imagen img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

